@tailwind components;
@tailwind utilities;
@tailwind base;

:root {
	--foreground-rgb: 15, 15, 15;
	--background-rgb: 255, 255, 255;
}

.dark {
	--foreground-rgb: 255, 255, 255;
	--background-rgb: 15, 15, 15;
}

@layer base {
	html {
		font-family: "Poppins", system-ui, sans-serif;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background-color: rgb(var(--background-rgb));
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(82 82 82);
	border-radius: 20px;
	border: 3px solid rgb(82 82 82);
}

@media (max-width: 992px) {
	* {
		font-size: 97.5%;
	}
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}